*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,
html{
    height: 100%;
    width: 100%;
    position: absolute;
    color: gold;
    overflow: hidden;
}
section{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg,#202a34, #37485a);

}
img{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;
}
.container{
    position: relative;
    display: grid;
    top: -20%;
    margin-top: 5em;
    width: 60%;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px;


    border-radius: 5px 5px;
    background:rgba(0, 255, 255, alph,0.1)  ;
    box-shadow: 5px 2px 8px black;
    z-index: 11;
}
.inner-container input{
    margin-bottom: 5px;
    width: 72%;
}
.inner-container{
    position: relative;
    border-radius: 5px;
    display: flex;
    margin: 10px 10px;
    flex-flow: row;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.btn{
    position: absolute;
    margin: 0 45px;
    display: flex;
    flex-direction: row;
    gap:100px ;
    justify-content: center;
    width: 60%;
    z-index: 10;
}
.credit:focus, .grade:focus{
    border: 2px solid gold;
    outline: none !important;
    box-shadow: 0 0 10px #d8c026;
}
input[type="button"]:hover,input[type="button"]:active{
    border:2px solid  gold;
    outline: none !important;
    box-shadow: 0 0 10px #d8c026;
}
.resultc{
    position: absolute;
    /* border:2px solid #ffff; */
    text-align: center;
    margin-top: 220px;
}
div .result{
    font-size: 8em;
    position: relative;
}

div .removeCourse,
div .calculate,
div .addCourse{
    background-color: #fee6e3ed;
    border-color: #7e7270;
    font-size: 1em;
    width: 100px;
    height: 30px;
    text-align: center;
}
